<div>
    <nav class="navbar">
      
        <div class="logo">Angular App</div>
    
        <ul class="nav-links">

          <div class="menu">
    
              <li><a routerLink="/tip-calculator" routerLinkActive="active">Tip Calculator</a></li>
              <li><a routerLink="/groceryList" routerLinkActive="active">Grocery List</a></li>
              <li><a routerLink="/rock-paper-scissors" routerLinkActive="active">Rock Paper Scissors</a></li>
              <li><a routerLink="/weather-dashboard" routerLinkActive="active">Weather Dashboard</a></li>
          
          </div>
        </ul>
      </nav>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="navbar" href="./navbar.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>

</div>